<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTetris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15A01F961CBC82A9009920C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A01FAC1CBC82A9009920C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A01FB71CBC82A9009920C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
